# API from yfianance Stock Market
* stocks from 1970 through 2018
* The S&P 500 (^GSPC), or just the S&P, is a stock market index that measures the stock performance of 500 large companies listed on stock exchanges in the United States.
* Remove incomplete rows
* Deal with error-prone columns
* Drop un-needed columns
* Change casing
* save to csv

In [1]:
from pandas_datareader import data as pdr
import pandas as pd
import yfinance as yf

#### Pulling S&P 500 stock market index

In [2]:
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
df = pdr.get_data_yahoo("^GSPC", start="1970-01-01", end="2019-01-01")

[*********************100%***********************]  1 of 1 completed

#### length of dataset

In [9]:
df.count()

Date         12361
Open         12361
High         12361
Low          12361
Close        12361
Adj Close    12361
Volume       12361
dtype: int64

#### Reseting the Index

In [3]:
df = df.reset_index()
df.head()

        Date       Open       High        Low      Close  Adj Close    Volume
0 1970-01-02  92.059998  93.540001  91.790001  93.000000  93.000000   8050000
1 1970-01-05  93.000000  94.250000  92.529999  93.459999  93.459999  11490000
2 1970-01-06  93.459999  93.809998  92.129997  92.820000  92.820000  11460000
3 1970-01-07  92.820000  93.379997  91.930000  92.629997  92.629997  10010000
4 1970-01-08  92.629997  93.470001  91.989998  92.680000  92.680000  10670000

#### Using .dt to extracting year only

In [4]:
df['Date'] = df['Date'].dt.year
df.head()

   Date       Open       High        Low      Close  Adj Close    Volume
0  1970  92.059998  93.540001  91.790001  93.000000  93.000000   8050000
1  1970  93.000000  94.250000  92.529999  93.459999  93.459999  11490000
2  1970  93.459999  93.809998  92.129997  92.820000  92.820000  11460000
3  1970  92.820000  93.379997  91.930000  92.629997  92.629997  10010000
4  1970  92.629997  93.470001  91.989998  92.680000  92.680000  10670000

In [5]:
group_df = df.groupby(df['Date'])
group_df = group_df.mean()
group_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
1970,1970.0,83.152047,84.011457,82.292126,83.154134,83.154134,1.160130e+07
1971,1971.0,98.306877,99.071897,97.565138,98.315020,98.315020,1.539423e+07
1972,1972.0,109.071036,109.952789,108.279960,109.134821,109.134821,1.648355e+07
1973,1973.0,107.514167,108.554087,106.354048,107.438413,107.438413,1.610230e+07
1974,1974.0,82.886324,83.879367,81.795534,82.780909,82.780909,1.390356e+07

#### Checking data types

In [6]:
group_df.dtypes

Date         float64
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

#### lowercasing columns

#### Exporting to a csv file