# API from yfianance Stock Market
* stocks from 1970 through 2018
* stocks from DJIA

In [11]:
from pandas_datareader import data as pdr

import yfinance as yf

In [18]:
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
DJIA_stock_data = pdr.get_data_yahoo("^GSPC", start="1971-01-01", end="2019-01-01")

[*********************100%***********************]  1 of 1 completed

In [19]:
DJIA_stock_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1971-01-04,92.150002,92.190002,90.639999,91.150002,91.150002,10010000
1971-01-05,91.150002,92.279999,90.690002,91.800003,91.800003,12600000
1971-01-06,91.800003,93.000000,91.500000,92.349998,92.349998,16960000
1971-01-07,92.349998,93.260002,91.750000,92.379997,92.379997,16460000
1971-01-08,92.379997,93.019997,91.599998,92.190002,92.190002,14100000
...,...,...,...,...,...,...
2018-12-24,2400.560059,2410.340088,2351.100098,2351.100098,2351.100098,2613930000
2018-12-26,2363.120117,2467.760010,2346.580078,2467.699951,2467.699951,4233990000
2018-12-27,2442.500000,2489.100098,2397.939941,2488.830078,2488.830078,4096610000
2018-12-28,2498.770020,2520.270020,2472.889893,2485.739990,2485.739990,3702620000
2018-12-31,2498.939941,2509.239990,2482.820068,2506.850098,2506.850098,3442870000

###